@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
.navigation{
	box-sizing: border-box;
	margin-top: 0;
	padding: 0;
	background-color: #24252A;
	margin: 0px;
	overflow: hidden;
	/* Set the navbar to fixed position */
	  
	width: 100%; /* Full width */
	height: 20%;
	position: fixed;
	top: 0px;

}
.cart{
	padding-left: 60px;
	background-color: rgba(0,136,169,1);
	border-radius: 5px;
	font-size: 20px;

}
ion-icon{
	font-size: 60px;

}
header{
	
}
.cont-2{
	background-color: #24252A;
}
li,a,p,button,ion-icon{
	font-family: "Montserrat" , sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;

}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}

.nav_links{
	list-style: none;

}
.nav_links li{
	display: inline-block;
	padding: 0px 20px;

	
}
.nav_links li a {
	transition: 0.3s ease 0s;
	
}
.nav_links li a :hover{
	
	color: #0088a9;
}
button{
	padding: 9px 25px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.3s ease 0s;
}
button:hover{
	background-color: rgba(0,136,169,0.8);
}
img{
	max-height: 1000px;
	max-width: 1000px;
	margin-left: 0px;


}
.box{
	
  max-width: 2000px;
  margin-left: auto;

}/*
styling for main content of index page*/
.Main-content{
margin-top: 200px;
position: ;
}
/*Styling for products page*/
.makeup-bg{
height: 1000px;
background-image:url("IMAGES/asian-3767281.jpg");
background-size: 1800px 1000px;
padding-left: 0px;
}
.d-md-flex{
	max-width: 3000px;
	padding-left: 20px;
}
.logo{
	padding-left: 0px;
	align-content: left;
}

/*
CART PAGE*/
.products-container{
	
	margin-top: 50px;
	

}
.product-header{
	width:100%;
	max-width: 650px;
	display: flex;
	justify-content: flex-start;
	border-bottom: 4px solid lightgrey;
	margin: 0 auto;


}
.product-title{
	border-bottom: 4px solid lightgrey;

}
.price{
	align-items: center;
		border-bottom: 4px solid lightgrey;

}
.total{
	
	border-bottom: 4px solid lightgrey;
	
}
.quantity{
	border-bottom: 4px solid lightgrey;
	align-items: center;

}
.basketTotalContainer{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 10px 0;
} .basketTotalTitle{
	width: 30%;

}

.basketTotal{
	width: 10%;
}
.productImg{
	width: 45%;
}


.product{
	width: 45%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid lightgrey;
}
.product-price{
	padding-left: 300px ;
	display: inline-flex;
}
.product-quantity{
}
.product-total{
}




